В папке семинара лежит файл gicr.xlsx, в котором содержится выдача корпуса ГИКРЯ для одного запроса. Давайте поработаем с этим файлом.

#### Задача 1. 

- Считайте данные. 
- Посмотрите информацию по ним: сколько у нас колонок, как они называются, какого они типа, сколько в них ненулевых ячеек?
- Проверьте, есть ли дубликаты (по левому и правому контексту). Удалите дубликаты: решите, как именно вы хотите это сделать, избавиться от всех повторов вообще или оставить одно какое-то вхождение?
- Заведите новую переменную, в которой будет храниться та же выборка, но без всех пустых ячеек.

In [4]:
import pandas as pd
path = 'gicr.xlsx'
data = pd.read_excel(path)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   int_id          1086 non-null   int64
 1   left            1053 non-null   object
 2   result          1086 non-null   object
 3   right           1049 non-null   object
 4   birthdate       358 non-null    float64
 5   city            709 non-null    object
 6   country         795 non-null    object
 7   gender          987 non-null    object
 8   location        795 non-null    object
 9   region          711 non-null    object
 10  year            1086 non-null   int64
 11  authorid        1086 non-null   object
 12  compose_doc_id  1086 non-null   object
 13  doc_size        1086 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 118.9+ KB

In [6]:
data.duplicated(['left', 'right']).any()

np.False_

In [7]:
data.drop_duplicates(keep='first', inplace=True)

In [9]:
new_data = data.dropna()
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 285 entries, 3 to 1085
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   int_id          285 non-null    int64
 1   left            285 non-null    object
 2   result          285 non-null    object
 3   right           285 non-null    object
 4   birthdate       285 non-null    float64
 5   city            285 non-null    object
 6   country         285 non-null    object
 7   gender          285 non-null    object
 8   location        285 non-null    object
 9   region          285 non-null    object
 10  year            285 non-null    int64
 11  authorid        285 non-null    object
 12  compose_doc_id  285 non-null    object
 13  doc_size        285 non-null    int64
dtypes: float64(1), int64(3), object(10)
memory usage: 33.4+ KB

#### Задача 2.

- Сколько в нашей выборке уникальных авторов?
- Какой самый ранний год употребления искомого слова в корпусе? А какой самый старый возраст употребившего? Какой средний возраст употребляющих это слово?
- Какие города самые представленные в корпусе, судя по этой выборке? (А можем ли мы судить о распространенности употребления слова в запросе по этим цифрам?)

In [12]:
import pandas as pd
data = pd.read_excel(path)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   int_id          1086 non-null   int64
 1   left            1053 non-null   object
 2   result          1086 non-null   object
 3   right           1049 non-null   object
 4   birthdate       358 non-null    float64
 5   city            709 non-null    object
 6   country         795 non-null    object
 7   gender          987 non-null    object
 8   location        795 non-null    object
 9   region          711 non-null    object
 10  year            1086 non-null   int64
 11  authorid        1086 non-null   object
 12  compose_doc_id  1086 non-null   object
 13  doc_size        1086 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 118.9+ KB

In [13]:
len(data.authorid.unique())

899

In [14]:
data.describe()

            int_id    birthdate         year     doc_size
count  1086.000000   358.000000  1086.000000  1086.000000
mean    543.500000  1987.849162  2013.837017    45.894107
std     313.645501    14.270482     3.204857   118.836769
min       1.000000  1902.000000  2007.000000     2.000000
25%     272.250000  1986.000000  2011.000000     8.000000
50%     543.500000  1990.500000  2014.000000    15.000000
75%     814.750000  1995.000000  2016.000000    34.000000
max    1086.000000  2006.000000  2021.000000  2063.000000

In [16]:
data.city.value_counts()

city
Москва             123
Санкт-Петербург     65
Киев                28
Екатеринбург        21
Минск               15
                  ...
Оренбург             1
Херсон               1
Тучково              1
Торжок               1
Севериновка          1
Name: count, Length: 228, dtype: int64

#### Задача 3 (2 балла).

По сколько авторов приходится на каждый город? (Подсказка: чтобы это посмотреть удобно, вам может пригодиться метод sort_values())

In [24]:
data.groupby('city')['authorid'].nunique().sort_values(ascending=False)

city
Москва             102
Санкт-Петербург     54
Киев                23
Екатеринбург        15
Минск               15
                  ...
Чарышское            1
Электросталь         1
Щёлкино              1
Щигры                1
Яблоновский          1
Name: authorid, Length: 228, dtype: int64